/* Style umum untuk body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

/* Header */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Container untuk soal */
.container {
    width: 100%; /* Atur menjadi 100% agar sesuai layar */
    max-width: 600px; /* Batas maksimum lebar */
    margin: auto;
}

/* Style untuk div soal */
.soal {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

/* Style untuk opsi jawaban */
.ans {
    margin-bottom: 20px;
}

.warp {
    margin-bottom: 8px;
}

/* Style form */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style label */
label {
    font-size: 16px;
    color: #555;
}

/* Style untuk input radio */
input[type="radio"] {
    margin-right: 10px;
}

/* Style tombol kirim */
#btn {
    border: none;
    background-color: rgb(90, 199, 250);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 7px;
    display: block;
    width: 100%; /* Tombol menyesuaikan lebar layar */
    max-width: 300px;
    margin: 20px auto;
}

/* Media query untuk layar mobile */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .soal {
        font-size: 16px;
    }

    label {
        font-size: 14px;
    }

    form {
        padding: 15px;
    }

    #btn {
        font-size: 16px;
        padding: 10px;
    }
}
